@-webkit-keyframes fadein{
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
}
@-webkit-keyframes fadeout{
    0% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}
@-webkit-keyframes fadeinout{
    0% {
       opacity: 0;
    }
    50% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}
@-webkit-keyframes loadmove {
  100%{
    transform: translate3d(-738px,0,0);
  }
}
@-webkit-keyframes sizechange{
   100%{
       transform: scale(1) translate(-50%,-50%);
   }
}
@-webkit-keyframes circleloading{
   0%{
      visibility: visible;
   }
   100%{
       transform: rotate(600deg); 
       visibility: hidden;
   }
}
@keyframes music{
   from{
      transform:rotateZ(0);
   }
   to{
      transform:rotateZ(360deg);
   }

}
@keyframes clickScale {
   0%{
      transform: translate(-50%,-50%) scale(1);
   }
   25%{
      transform: translate(-50%,-50%) scale(.8);
   }
   75%{
      transform: translate(-50%,-50%) scale(1.1);
   }
   100%{
      transform: translate(-50%,-50%) scale(1);
   }
}
@keyframes riseScale {
   0%{
      transform: translate(-50%,-50%) scale(0);
   }
   100%{
      transform: translate(-50%,-50%) scale(1);
   }
}



